<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>found nothing</title>
    <style>
        h1, p, a {
            color: white;
            font-family: serif
        }

        body {
            background-color: black;
        }

        body {

        }

        .extra-margin {
            text-align: center;
        }

        .extra-margin2 {
            text-align: center;
        }

        .extra-margin3 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="extra-margin">404</h1>
<h1 class="extra-margin2">There is no info about your request</h1>
<a href="http://127.0.0.1:1234/character/list" class="extra-margin3">Try again</a>
</body>
</html>